@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;        
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --verde: #d8dd16;
    --gris: #787772;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 160px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1.3rem;
    background-color: var(--gris);
}

.menu i {
    padding: 0px 10px 0px 0px;
    font-size: 26px;
    color: white;
}

.barra {
    width: 100%;
    height: 70px;
    background-color: var(--verde);
}

.barra2 {
    width: 100%;
    height: 70px;
    background-color: var(--gris);
}

.barra3 {
    width: 100%;
    height: 70px;
    background-color: white;
}

.letters {
    width: 120px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-image: url(banner.jpg);
    background-size: cover;
    background-color: rgba(10, 10,10, 0.8);
    background-blend-mode: darken;
    background-attachment: fixed;    
}

.apartado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    gap: 120px;
    padding: 20px;
    margin: 40px 0px 0px 0px;
}

.apartado img {
    width: 180px;
}

.apartado img:hover {
    transform: scale(1.03);
}


.apartado p {
    font-size: 115%;
    line-height: 35px;
    text-align: justify;
}

.apartado2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    gap: 120px;
    padding: 20px;
    margin: 40px 0px 0px 0px;
}

.apartado2 img {
    width: 180px;
}

.apartado2 img:hover {
    transform: scale(1.03);
}

.apartado2 p {
    font-size: 115%;
    line-height: 35px;
    text-align: justify;
}

.banner h1 {
    text-align: center;
    color: white;
    font-size: 350%;
    padding: 10px;
}

.banner p {
    padding: 10px;
    color: white;
    font-weight: normal;
    font-size: 160%;
    letter-spacing: 2px;
}

.cuerpo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.container {
    width: 55%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    background-color: var(--verde);
    border-radius: 60px;
}

.card {
    padding: 50px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.title p {
    margin-top: 10px;
    font-weight: lighter;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    height: 60px;
    color: var(--verde);
    font-size: 20px;
    border-radius: 40px;
    background-color: white;
    cursor: pointer; 
}

.button:hover {
    transform: scale(1.07);
    color: white;
    background-color: var(--verde);
    transition: transform 1.5s,
                background-color 1.5s,
                color 1.5s;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.whatsapp {
    position: absolute;
    bottom: 0;
    right: 20px;
    width:40px;
    height:40px;
    color:#FFF;
    text-align:center;
    font-size:30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: var(--gris);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    flex-direction: row;
    gap: 40px;
}

.box {
    display: flex;
    flex-direction: column;
}

.box h2 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
}

.box h4 {
    color: white;
    font-weight: normal;
}

.box a {
    color: white;
    font-weight: normal;
    margin: 1px 0px;
}

.box i {
    width: 20px;
}

@media only screen and (min-device-width: 200px) and (max-width: 554px){
    body {
        min-height: 100vh;
        position: relative;
        padding-bottom: 420px;
    }
    .container {
        width: 70%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 100px auto;
        background-color: var(--verde);
        border-radius: 60px;
    }    
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 400px;
        background-color: var(--gris);
        margin-top: 40px;
    }
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        flex-direction: column;
        gap: 40px;
    }
    .apartado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75%;
        gap: 80px;
        padding: 20px;
        margin: 40px 0px 0px 0px;
    }   
    .apartado2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 75%;
        gap: 80px;
        padding: 20px;
        margin: 40px 0px 0px 0px;
    }     
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: gray;
        color: white;
    }
    .barra3 {
        width: 100%;
        height: 70px;
        background-color: gray;
    }    
}